header {
  background-color: darkgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  font-family: sans-serif;
}
h1 {
  color: white;
}
header h2 {
  font-size: 15px;
}
#about {
  width: 300px;
}
video {
  width: 300px;
  z-index: -1;
  position: absolute;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  color: red;
}
header nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 70px;
}
header nav a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(80, 77, 77);
}

@media only screen and (max-width: 768px) {
  /* header {
    background-color: green;
  } */
}
@media only screen and (max-width: 482px) {
  a {
    font-size: 10px;
  }
  /* header nav {
    display: block;
    /* height: 100px; */
  /* } */
  header h1 {
    font-size: 15px;
  }
}
